@media (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 15px;
    }
}

.card {
    display: flex; /* [1] */
    flex-direction: column; /* [2] */
    
}

.card h2, .card p{
    font-size: 14px;
    margin: 0 auto;
}

.card__content {
    flex-grow: 1; /* [3] */
    display: flex; /* [4] */
    flex-direction: column;
}

.card__link {
    margin-top: auto; /* [5] */
}
.card__price {
    font-size: 26px;
    color: green;
    font-weight: bold;
    margin: 0;
}


.card__availability--yes {
    padding: 2px 5px;
    margin: 0 auto;
    background-color: yellowgreen;
    border: 1px solid transparent;
    margin-bottom: 5px;
}
.card__availability--no {
    padding: 2px 5px;
    margin: 0 auto;
    background-color: rgb(245, 102, 67);
    border: 1px solid transparent;
    margin-bottom: 5px;
}